* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.5;
}

h1 {
    text-align: center;
}

.content {
    border: 1px solid #999;
    background-color: #333;
    position: relative;
    margin: 20px auto 0;
    width: 80%;
    height: 600px;
}

.bob {
    color: green;
}

.initial {
    color: #AAA;
}

.twitch-connect {
    margin-left: calc(90% - 170px);
    cursor: pointer;
}

.chat-input {
    margin: 10px 15px;
    height: 75%;
    width: 85%;
    padding: 4px;
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.35);
}

.send-chat-message {
    position: absolute;
    height: 75%;
    width: 10%;
    margin: 10px 15px;
    right: 0;
}

.chat-lines {
    padding: 10px;
    color: #BBB;
    overflow: auto;
    height: 85%
}

.chat-control {
    height: 15%;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.65);
    position: absolute;
    bottom: 0;
    background-color: #e5e5e5;
}