* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    overflow: hidden;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.5;
}

h1 {
    text-align: center;
}

.content {
    background-color: #333;
    color: #BBB;
    padding: 10px;
    margin: 20px auto;
    width: 80%;
    height: 80%;
    overflow: auto;
}

.bob {
    color: green;
}

.initial {
    color: #AAA;
}

.twitch-connect {
    margin-left: calc(90% - 170px);    
    right: 0;
    display: hidden;
}